/* 선택자 {속성:값;} */
main > h1{
    background-color: antiquewhite;/* 배경색 */
    color: #555;/* 글자색 */
    /* font-family:'궁서' */
    font-family:pretendard, 'Noto Serif', '마루 부리', '궁서'
    /* 글꼴명 공백있거나 한글일땐 따옴표 묶기 */
    /* 글꼴명 2개 이상 작성하기(대표글꼴, 후보글꼴) */
    /* 맑은 고딕, 궁서, 바탕, 굴림 등 컴퓨터 기본글꼴 외 설치글꼴은 웹주소로 따로 연결해야한다. */
}
main > p{
    background-color: aliceblue;
    color: blueviolet;
    font-family:'noto serif','굴림';
}
main>.news{background-color:#eee;}
.news>li{
    color: #0cf;
    font-size:12px;/* 웹 기본크기 16px */
    font-family:'noto sans kr';
}
.news>.second{font-size:19px;}
main>#blog{
    background-color:#eee;
    font-family:pretendard;}
    #blog>h2{font-size:0.875em;}
    #blog>p{background-color:yellow; font-size:1.125em;}
main>#blog>h2+p{font-size:0.625em;/* 10px */}